body {
  font-family: "DM Sans", sans-serif;
  background: rgb(41, 41, 41);
  background: linear-gradient(
    310deg,
    rgba(41, 41, 41, 1) 38%,
    rgba(37, 37, 37, 1) 45%,
    rgba(23, 23, 23, 1) 51%,
    rgba(31, 31, 31, 1) 58%,
    rgba(15, 14, 14, 1) 83%,
    rgba(4, 3, 3, 1) 100%
  );
  background-size: 100% 100%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2% 2% 5% 2%;
  color: aliceblue;
}

.logo_sur {
  width: 60px;
  border-radius: 100%;
}

#dia_label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 35px;
  display: grid;
  align-items: center;
  margin: 0 0 0 0;
}

.logo_klonal {
  width: 50px;
  border-radius: 100%;
}
.fechaH {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 30px;
  display: grid;
  align-items: center;
  margin: 0 0 0 0;
}

#fecha {
  display: flex;
  align-items: center;
  margin-left: 60px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  margin-top: 8%
}

.select_day {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 5% 0 5%;
}

#anterior {
  margin: 0 8% 0 0;
  padding: 2% 9% 2% 9%;
  background: rgb(69, 70, 70);
  background: linear-gradient(
    0deg,
    rgba(69, 70, 70, 1) 0%,
    rgba(24, 16, 16, 1) 100%
  );
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

#siguiente {
  margin: 0 0 0 8%;
  padding: 2% 9% 2% 9%;
  background-color: #e2e4e7;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    0deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(167, 167, 167, 1) 100%
  );
  color: #3c4043;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

form {
  color: white;
  display: grid;
  align-items: center;
  margin: 0 8% 0 0;
}

fieldset {
  border: none;
}

.sin_servicio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sin_servicio p {
  font-size: 20px;
}

.fecha p {
  font-size: 30px;
}

label p {
  font-size: 20px;
  font-weight: 500;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

input[type="checkbox"] {
  margin: 0 0 0 5%;
  width: 20px;
  vertical-align: middle;
}

.enviar_editar {
  display: grid;
  align-items: center;
}

#enviar {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  padding: 2% 9% 2% 9%;
  margin: 0 0 0 9%;
  background: rgb(0, 133, 4);
  background: linear-gradient(
    90deg,
    rgba(0, 133, 4, 1) 0%,
    rgba(15, 121, 9, 1) 35%,
    rgba(0, 147, 21, 1) 100%
  );
  color: #ffffff;
  border: none;
  margin-top: 9px;
  margin-bottom: 2%;
}

.oculto {
  display: none;
}
